# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup Go 1.21.x
      uses: actions/setup-go@v5
      with:
        go-version: '1.21.x'
    - name: Build
      run: |
        GOOS=linux GOARCH=amd64 CGO_ENABLED=0 go build -o builds/krpg &&  \
        GOOS=windows GOARCH=amd64 go build -o builds/krpg.exe
    - name: Pack to tgz
      run: |
        tar -czf builds/krpg.tgz builds/krpg && \
        tar -czf builds/krpg_exe.tgz builds/krpg.exe
    - name: Upload Go results
      uses: actions/upload-artifact@v4
      with:
        name: builds
        path: builds/*.tgz

    - name: Create Draft Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
      with:
        tag_name: '1.0.1'
        release_name: 'release 1.0.1'
        draft: true
        prerelease: false

    - uses: actions/upload-release-asset@v1.0.1
      env:
        GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: builds/*
        asset_name: builds
        asset_content_type: application/gzip

    - uses: eregon/publish-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
      with:
        release_id: ${{ steps.create_release.outputs.id }}